body {
    background-color: #020f24;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#rock,
#paper,
#scissors {
    border: solid;
    border-color: white;
    border-radius: 15px;
    padding: 30px;
    background-color: #020f24;
    border-width: 3px;
}

.userButtons {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 60px;
}

.buttonImg {
    width: 70px;
    height: 70px;
}

.scoreImg {
    width: 110px;
    height: 110px;
}

h1 {
    font-size: 170px;
    padding: 0;
    margin: 0;
}

.scoreUI {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content:center;
    margin-top: 180px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 60px;
}

/* .tags {
    width: 200px;
} */


#roundStatus {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

#endGame {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-weight: "bold";
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}